
$textColor: rgb(190, 242, 243);
$SecundarytextColor: #262549;
$heroBackgroundColor: rgba(0, 0, 0, 0.507);
$buttonColor: #262549;

// Gradiente

$gradiente1: #003129;
$gradiente2: #032f41;
$gradiente3: #001b19;
$gradiente4: #001010;
$gradiente5: #000000;
